.dbright {
  position: absolute;
  width: 401px;
  height: 810px;
  left: 1039px;
  top: 0px;
  background: white;
  box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
  border-radius: 8px 0px 0px 8px;
}
.img_stt {
  display: flex;
  flex-direction: row;
  position: relative;
  top: -30px;
  left: 0;
}
.img_stt img {
  width: 195px;
  height: 140px;
  border-radius: 10px;
  margin: 0 8px 0 -10px;
}
.dashboard {
  width: 66%;
  margin: 0 0 -30px -15px;
  background: #ffffff;
  border-radius: 12px;
  position: relative;
  top: -30px;
}
.dashboard img {
  position: absolute;
}
/* .table_dashboard {
  position: relative;
} */

.dropdownn {
  /* display: inline-block;
  position: relative;
  background: aqua; */
}
.dropbtn {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 12px;
  border: 1.5px solid #d4d4d7;
}
.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: -20px;
  /* z-index: 1; */
}
.dropdown-content a {
  color: #333;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  height: 46px;
  align-items: center;
  width: 30%;
}
/* .dropdown-content a:hover {
  background-color: #ddd;
} */
.dropdown:hover .dropdown-content {
  display: block;
}
.logingg{
  display: flex;
  padding: 15px ;
  align-items: center;
}
.title_dashboard {
  width: 102px;
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ff9138;
  position: relative;
  top: -90px;
  left: -20px;
}
.number {
  position: relative;
  top: -30px;
  left: -20px;
  width: 262px;
  height: 36px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ff7506;
}
