html {
  background-color: #bcb3c199;
}
.app {
  width: 1440px;
  height: 810px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  background-color: #f6f6f6;
  display: flex;
}
.body {
  width: 1240px;
  display: flex;
  background-color: auqa;
  justify-content: row;
  /* flex-direction: space-around; */
  position: relative;
  border-radius: 0 16px 16px 0;
}
.body-mid {
  background-color: white;
  width: 1112px;
  height: 397px;
  display: flex;
  border-radius: 16px;
  margin: 30px 0 0 60px;
  /* align-seft: center; */
  position: relative;
  position: absolute;
  /* width: 1112px;
height: 397px; */
  left: -30px;
  top: 168px;
}
.avatar {
  flex: 3;
  border-radius: 16px 0 0 16px;
  width: 248px;
  height: 248px;
  position: absolute;
  left: 24px;
  top: 40px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  flex: 7;
  /* padding: 10px; */
  position: absolute;
  width: 792px;
  height: 276px;
  left: 296px;
  top: 40px;
}
.grid-item {
  padding: 10px;
  font-size: 25px;
}
.title-grid {
  width: 113px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #282739;
}
.input-type {
  margin: 5px 0 0 0;
  background-color: #eaeaec;
  font-size: 19px;
  width: 384px;
  height: 44px;
  border-radius: 6px;
  left: 296px;
  top: 72px;
  padding: 12px 16px 12px 16px;
  background: #eaeaec;
  border-radius: 6px;
}
.icon-camera {
  position: absolute;
  width: 45px;
  height: 45px;
  left: 175px;
  top: 200px;
  background-color: #ff7506;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
}
.icon-camera img {
  position: absolute;
  top: 20%;
  left: 18%;
}
.avatar h2 {
  position: absolute;
  width: 186px;
  height: 36px;
  left: 30px;
  top: 260px;
  font-style: normal;
  font-weight: 650;
  font-size: 24px;
  line-height: 36px;
  /* display: flex; */
  /* align-items: center; */
  color: #282739;
}
///////////////////////////// phần top ////////////////////////
.info-right {
  display: flex;
  background-color: blue;
}
.body__top--title {
  color: red;
}
.body__titleinfo {
  position: absolute;
  /* top: 2%; */
  top: 29px;
  left: 2%;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #ff9138;
  width: 168px;
  height: 30px;
}
.body__noti {
  position: absolute;
  position: relative;
  top: 4.5%;
  left: 79%;
  width: 25px;
  height: 25px;
  background-color: rgba(255, 99, 71, 0.1);
  /* opacity: 0.1; */
  border-radius: 50%;
}
.body__noti img {
  position: absolute;
  top: 20%;
  left: 18%;
}
.body__info {
  position: absolute;
  position: relative;
  width: 172px;
  height: 42px;
  left: 1004px;
  top: 24px;
  position: absolute;
}
.body__avt {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 30px;
  top: 3px;
}
.body__avt-right {
  position: absolute;
  top: 2%;
  left: 46%;
  width: 124px;
  height: 42px;
}
.body__titlehello {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #7e7d88;
}
.body__name {
  font-style: normal;
  font-weight: 650;
  font-size: 16px;
  line-height: 24px;
  color: #535261;
}
