.ant-popover-inner {
  padding: 0 !important;
}
.sidebar {
  position: relative;
  background-color: white;
  width: 200px;
  border-radius: 16px 0 0 16px;
}
.sidebar__logo {
  width: 80px;
  position: absolute;
  left: 30%;
  right: -10%;
  top: 4%;
  bottom: 16.97%;
}
.sidebar__menu {
  position: relative;
}
.sidebar__menu--list {
  position: relative;
}
.sidebar__menu ul li {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 100%;
}
.sidebar__menu ul li:hover {
  background-color: #f1f1f1;
  transition: all 0.4s linear;
}
.sidebar__menu--list li:nth-child(1) {
  position: absolute;
  width: 200px;
  height: 48px;
  left: 0px;
  top: 150px;
}

.sidebar__menu--list li:nth-child(2) {
  position: absolute;
  width: 200px;
  height: 48px;
  left: 0px;
  top: 204px;
}
.sidebar__menu--list li:nth-child(3) {
  position: absolute;
  width: 200px;
  height: 48px;
  left: 0px;
  top: 258px;
}
.sidebar__menu--list li:nth-child(4) {
  position: absolute;
  width: 200px;
  height: 48px;
  left: 0px;
  top: 312px;
}
.sidebar__menu--list li:nth-child(5) {
  position: absolute;
  width: 200px;
  height: 48px;
  left: 0px;
  top: 366px;
}
.sidebar__menu--list li:nth-child(6) {
  position: absolute;
  width: 200px;
  height: 48px;
  left: 0px;
  top: 420px;
}
.sidebar__icon {
  margin: 3px 10px 0 10px;
}
.sidebar__icon--left {
  margin: 0 5px 0 8px;
}
.sidebar__title {
  color: #7e7d88;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.sidebar__btn--logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 12px;
  position: absolute;
  width: 176px;
  height: 48px;
  left: 12px;
  top: 720px;
  background: #fff2e7;
  border-radius: 8px;
  cursor: pointer;
}
.sidebar__btn--logout:hover {
  background-color: #efe0d3;
  transition: all 0.5s ease-in-out;
}
.sidebar__btn--logout_title {
  width: 85px;
  height: 24px;
  /* font-family: 'Nunito'; */
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ff7506;
}
